@charset "utf-8";
/* CSS Document */

body{
	background-color: #000;	
	}

#main_full {	
	z-index:1;
	position:absolute;
	left:0px;
	top:0px;
	}
.iframe_full {		
	position:absolute;
	left:32px;
	top:31px;	
	}	